.banner
.preview
  audio(controls)
.genre= music.genre
.title= music.title
  if music.subtitle && music.subtitle != ""
    span.subtitle  - #{music.subtitle}
.artist= music.artist
.subartists= music.subartists.join(", ")
.vr
.difficulty
  .label Single
  #detail-difficulty-single.button-container
    for e in music.charts.single
      .button= e.level
  .label Double
  #detail-difficulty-double.button-container
    for e in music.charts.double
      .button= e.level
