if type == "single"
  .type Single
else
  .type Double
.difficulty #{chart.chart_name}
.title= chart.title
.level Level #{chart.level}
.bpm #{chart.bpm.initial} BPM
.notes #{chart.notes} Notes
#play-button Play!
